{% extends 'base.html' %}
{% load staticfiles %}

{% block article %}
<div class="post-block archive" style="opacity: 1; display: block;">
    <div id="posts" class="posts-collapse">
      <span class="archive-move-on"></span>
      <span class="archive-page-counter">
        太棒了! 目前共计 {{ post_count }} 篇日志继续努力。
      </span>
          <div class="collection-title" style="opacity: 1; display: block; transform: translateX(0px);">
            <h2 class="archive-year" id="archive-year-2019" style="opacity: 1; display: block; transform: translateX(0px);">2019</h2>
          </div>
        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article">
    <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
      <h3 class="post-title">
          <a class="post-title-link" href="https://liam.page/2019/01/27/keep-single-dot-in-image-filename-for-LaTeX/" itemprop="url">
              <span itemprop="name">LaTeX 插图时对文件扩展名的处理</span>
          </a>
      </h3>
      <div class="post-meta">
        <time class="post-time" itemprop="dateCreated" datetime="2019-01-27T19:04:27+08:00" content="2019 年 01 月 27 日">
          01-27
        </time>
      </div>
    </header>
  </article>
    </div>
  </div>
{% endblock %}