{% extends 'base.html' %}
{% load staticfiles %}

{% block meta %}
<title>文章归档-向东的笔记本</title>
{% endblock %}

{% block article %}
<div class="post-block archive" style="opacity: 2; display: block;">
    {% regroup posts by created_time|date:"Y" as years %}
    {% for year in years %}
        <h4>{{ year.grouper }}年 ({{ year.list | length }})</h4>
        {% regroup year.list by created_time|date:"m" as months %}
        {% for month in months %}
            <h5>{{ month.grouper }}月</h5>
            <div class="list-group">
                <ul class="posts">
                {% for post in month.list %}
                    <li style="list-style-type:none">
                        <span>{{ post.created_time | date:"d" }}日</span>&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}">{{ post.title | slice:":50"}}</a>
                        <span style="float: right">{{ post.views }}&nbsp; views</span></span>
                    </li>
               {% endfor %}
               </ul>
          </div>
        {% endfor %}
        {% if forloop.last == False %}
          <hr>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
