{% extends 'base.html' %}
{% load blog_tags %}

{% block meta %}
<title>{{ post.title }}</title>
<meta name="description" content="{{ post.excerpt }}"/>
<meta name="keywords" content="{% for tag in post.tag.all %}{{ tag.name }},{% endfor %}"/>
{% endblock %}

{% block article %}
<div id="posts" class="posts-expand">
    <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article">
        <div class="post-block article_post" style="opacity: 1; display: block;">
            <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
                <!--文章标题-->
                <h2 class="post-title" itemprop="name headline">{{ post.title }}</h2>

                <!--发布信息-->
                <div class="article-post-meta">
                    <!--发布时间-->
                    <span class="post-time">
                        <span class="post-meta-item-icon"><i class="fa fa-calendar-o"></i></span>
                        <span itemprop="dateCreated datePublished" >{{ post.created_time }}</span>
                    </span>

                    <!--文章分类-->
                    <span class="post-category">
                        <span class="post-meta-item-icon"><i class="fa fa-folder-o"></i></span>
                        <span itemprop="about" ><a href="{% url 'blog:category' post.category.id %}" itemprop="url" rel="index"><span itemprop="name">{{ category.name }}</span></a></span>
                    </span>

                    <!--发布时间-->
                    <span class="post-symbolscount">
                        <span class="post-meta-item-icon"><i class="fa fa-file-word-o"></i></span>
                        <span title="本文字数">{{ post.words }} 字</span>
                    </span>

                    <!--阅读次数-->
                    <span class="post-views">
                        <span class="post-meta-item-icon"><i class="fa fa-eye"></i></span>
                        <span class="busuanzi-value" id="busuanzi_value_page_pv">{{ post.views }}</span>
                    </span>

                    <!--文章标签-->
                    <span class="post-tags">
                        <span class="post-meta-item-icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                        <span class="busuanzi-value" id="busuanzi_value_page_pv">
                            {% for tag in post.tag.all %}
                                <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                            {% endfor %}
                        </span>
                    </span>
                </div>
            </header>

            <!--文章内容-->
            <div class="post-body" itemprop="articleBody" style="opacity: 1; display: block; transform: translateY(0px);">
                {% autoescape off %}
                    {{ post.body }}
                {% endautoescape %}
            </div>

            <!--文章底部信息-->
            <footer class="post-footer">
                <div class="post-nav">
                    <div class="post-nav-next post-nav-item">
                        {% for relative_post in relativa_posts %}
                            <li class="relative_posts"><a class="relative_posts" href="{{ relative_post.get_absolute_url }}" title="{{ relative_post.title }}"><i class="fa fa-minus" aria-hidden="true"></i>{{ relative_post }}</a></li>
                        {% endfor %}
                    </div>
                </div>
            </footer>

        <div>
            <div class="comment-area">
                <h3 class="comment-area-title">提交评论</h3>
                {% if user.is_authenticated  %}
                    {{ user.username }},想说点什么？
                    <form action="{% url 'comment:update_comment' %}" method="POST">
                        {% csrf_token %}
                        <textarea name="text" id="comment_text" style="width: 100%"></textarea>
                        <input type="hidden" name="object_id" value="{{ post.pk }}">
                        <input type="hidden" name="content_type" value="post">
                        <input type="submit" value="提交" align="right">
                    </form>
                {% else %}
                    请先登录后评论
                    <form action="{% url 'comment:login' %}" method="POST">
                        {% csrf_token %}
                        <span>用户名：</span><input type="text" name = 'username' style="border: 1px solid">
                        <span>密码：</span><input type="password" name = "password" style="border: 1px solid">
                        <input type="submit" value="登录">
                    </form>
                {% endif %}
            </div>


            <div class="comment-area">
                <h3 class="comment-area-title">评论列表</h3>
                {% for comment in comments %}
                    <div>
                        {{ comment.user }}({{ comment.comment_time}})：
                        {{ comment.text }}
                    </div>
                {% empty %}
                    此篇文章，暂无评论，快来成为以第一个吃螃蟹的人吧~
                {% endfor %}
            </div>
        </div>
        </div>
    </article>
</div>
{% endblock %}

{% block toc_sidebar %}
    <div class="toc_siderbar" >
        <div class="widget git_tag">
            <div class="title">
                <h3>文章目录</h3>
            </div>
            <div class="post-toc" style="max-height: 448px;">
                {% autoescape off %}
                {{ post.toc }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}

