{% extends "base.html" %}
{% load blog_tags %}

{% block meta %}
<title>我的书单-向东的笔记本</title>
{% endblock %}

{% block article %}
    <div class="post-block" style="opacity: 40; display: block;">
        <h1 align="center">我的书单(共{% get_total_books %}本)</h1>
        <div class="pagewrapper" style="padding-top:.1px;">
            <div id="cardslist" class="cardlist" role="main">
            {% for book in books %}
                    <div class="card col span_1_of_4" role="main">
                    <div class="card-item">
                        <div class="thumb-img focus">
                            <div class="metacat">
                            <a class="metacat" href="">{{ book.category }}</a>
                            </div>

                            {% if book.detail != "" %}
                                <a href="{{ book.get_absolute_url }}"><img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="{{ book.name }}" src="{% url 'blog:index' %}media/{{ book.cover }}"></a>
                            {% else %}
                                <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="{{ book.name }}" src="{% url 'blog:index' %}media/{{ book.cover }}">
                            {% endif %}
                        </div>
                        <div class="card-detail">
                            <h3>{{ book.name }}</h3>
                            <p>豆瓣评分：{{ book.score }}</p>
                            <p>开始时间：{{ book.time_consuming }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}


{% block tag_sidebar %}
    <div class="siderbar" >
        <div class="widget git_tag">
            <div class="title"><h3>热门标签</h3></div>
            <div class="git_tags">
                {% get_books_tags as tags %}
                {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url  }}" data-original-title="1304个话题">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}