{% extends "base.html" %}
{% load staticfiles %}

{% block article %}
    <div class="post-block" style="opacity: 40; display: block;">
    <h1 align="center">我的阅读</h1>
        <div class="pagewrapper" style="padding-top:.1px;">
        <div id="cardslist" class="cardlist" role="main">
        {% for book in books %}
            <div class="card col span_1_of_4" role="main">
                <div class="card-item">
                    <div class="thumb-img focus">
                        <div class="metacat">
                        <a class="metacat" href="">{{ book.category }}</a>
                        </div>
                        <a href="{{ book.get_absolute_url }}" target="_blank" title="{{ book.name }}">
                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="{{ book.name }}" src="{% url 'blog:index' %}media/{{ book.cover }}">
                        </a>
                    </div>
                    <h3> <a href="{{ book.get_absolute_url }}" title="{{ book.name }}" target="_blank">{{ book.name }}</a> </h3>
                    <p> 作者：<a href="">{{ book.author }}</a><br>
                        豆瓣评分：{{ book.score }}<br></p>
                </div>
            </div>
        </div>
        </div>
    </div>
        {% endfor %}
{#            <div class="card col span_1_of_4" role="main">#}
{#                <div class="card-item">#}
{#                    <div class="thumb-img focus">#}
{#                        <div class="metacat">#}
{#                        <a class="metacat" href="https://sobooks.cc/renwensheke">人文社科</a>#}
{#                        </div>#}
{#                        <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策">#}
{#                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="深度思考：如何有效利用注意力做出理性决策" src="{% static "./blog/image/cover.jpg" %}"></a>#}
{#                    </div>#}
{#                    <h3> <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策" target="_blank">深度思考：如何有效利用注意力做出理性决策</a> </h3>#}
{#                    <p> 作者：<a href="https://sobooks.cc/search/%E5%B7%9D%E4%B8%8A%E6%B5%A9%E5%8F%B8">川上浩司</a><br>#}
{#                        豆瓣评分：9.0<br></p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card col span_1_of_4" role="main">#}
{#                <div class="card-item">#}
{#                    <div class="thumb-img focus">#}
{#                        <div class="metacat">#}
{#                        <a class="metacat" href="https://sobooks.cc/renwensheke">人文社科</a>#}
{#                        </div>#}
{#                        <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策">#}
{#                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="深度思考：如何有效利用注意力做出理性决策" src="{% static "./blog/image/cover.jpg" %}"></a>#}
{#                    </div>#}
{#                    <h3> <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策" target="_blank">深度思考：如何有效利用注意力做出理性决策</a> </h3>#}
{#                    <p> 作者：<a href="https://sobooks.cc/search/%E5%B7%9D%E4%B8%8A%E6%B5%A9%E5%8F%B8">川上浩司</a><br>#}
{#                        豆瓣评分：9.0<br></p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card col span_1_of_4" role="main">#}
{#                <div class="card-item">#}
{#                    <div class="thumb-img focus">#}
{#                        <div class="metacat">#}
{#                        <a class="metacat" href="https://sobooks.cc/renwensheke">人文社科</a>#}
{#                        </div>#}
{#                        <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策">#}
{#                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="深度思考：如何有效利用注意力做出理性决策" src="{% static "./blog/image/cover.jpg" %}"></a>#}
{#                    </div>#}
{#                    <h3> <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策" target="_blank">深度思考：如何有效利用注意力做出理性决策</a> </h3>#}
{#                    <p> 作者：<a href="https://sobooks.cc/search/%E5%B7%9D%E4%B8%8A%E6%B5%A9%E5%8F%B8">川上浩司</a><br>#}
{#                        豆瓣评分：9.0<br></p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card col span_1_of_4" role="main">#}
{#                <div class="card-item">#}
{#                    <div class="thumb-img focus">#}
{#                        <div class="metacat">#}
{#                        <a class="metacat" href="https://sobooks.cc/renwensheke">人文社科</a>#}
{#                        </div>#}
{#                        <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策">#}
{#                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="深度思考：如何有效利用注意力做出理性决策" src="{% static "./blog/image/cover.jpg" %}"></a>#}
{#                    </div>#}
{#                    <h3> <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策" target="_blank">深度思考：如何有效利用注意力做出理性决策</a> </h3>#}
{#                    <p> 作者：<a href="https://sobooks.cc/search/%E5%B7%9D%E4%B8%8A%E6%B5%A9%E5%8F%B8">川上浩司</a><br>#}
{#                        豆瓣评分：9.0<br></p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card col span_1_of_4" role="main">#}
{#                <div class="card-item">#}
{#                    <div class="thumb-img focus">#}
{#                        <div class="metacat">#}
{#                        <a class="metacat" href="https://sobooks.cc/renwensheke">人文社科</a>#}
{#                        </div>#}
{#                        <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策">#}
{#                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="深度思考：如何有效利用注意力做出理性决策" src="{% static "./blog/image/cover.jpg" %}"></a>#}
{#                    </div>#}
{#                    <h3> <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策" target="_blank">深度思考：如何有效利用注意力做出理性决策</a> </h3>#}
{#                    <p> 作者：<a href="https://sobooks.cc/search/%E5%B7%9D%E4%B8%8A%E6%B5%A9%E5%8F%B8">川上浩司</a><br>#}
{#                        豆瓣评分：9.0<br></p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card col span_1_of_4" role="main">#}
{#                <div class="card-item">#}
{#                    <div class="thumb-img focus">#}
{#                        <div class="metacat">#}
{#                        <a class="metacat" href="https://sobooks.cc/renwensheke">人文社科</a>#}
{#                        </div>#}
{#                        <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策">#}
{#                        <img class="thumb" style="width: 190px; height: 260px; display: inline;"  alt="深度思考：如何有效利用注意力做出理性决策" src="{% static "./blog/image/cover.jpg" %}"></a>#}
{#                    </div>#}
{#                    <h3> <a href="https://sobooks.cc/books/11966.html" title="深度思考：如何有效利用注意力做出理性决策" target="_blank">深度思考：如何有效利用注意力做出理性决策</a> </h3>#}
{#                    <p> 作者：<a href="https://sobooks.cc/search/%E5%B7%9D%E4%B8%8A%E6%B5%A9%E5%8F%B8">川上浩司</a><br>#}
{#                        豆瓣评分：9.0<br></p>#}
{#                </div>#}
{#            </div>#}



{% endblock %}