{% extends 'base.html' %}
{% load staticfiles %}

{% block meta %}
<title>分类目录-向东的笔记本</title>
{% endblock %}

{% block article %}
<div class="post-block archive" style="opacity: 2; display: block;">
    {% regroup posts|dictsort:"category_id" by category.name as category_list %}
    {% for cate in category_list %}
    <h4 id="{{ cate.grouper }}">{{ cate.grouper }} ({{ cate.list | length }})</h4>
        {% for post in cate.list reversed%}
            <ul style="list-style-type:none">
                <span>{{ post.created_time | date:"Y-m-d" }}</span>&nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}">{{ post.title|slice:":50"}}</a>
                <span style="float: right">{{ post.views }}&nbsp; views</span></span>
            </ul>
        {% endfor %}
    {% endfor %}
{#{% for category in category_list %}#}
{#    <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>#}
{#{% endfor %}#}
</div>
<!--分页部分-->
{#<nav class="pagination" style="opacity: 1; display: block;">#}
{#    {% if posts.has_previous %}#}
{#        <a href="?page={{posts.previous_page_number }}">上一页</a>#}
{#    {% endif %}#}
{##}
{#    <span class="current">第{{ posts.number }}页/共{{ posts.paginator.num_pages }}页</span>#}
{##}
{#    {% if posts.has_next %}#}
{#        <a href="?page={{ posts.next_page_number }}">下一页</a>#}
{#    {% endif %}#}
{#</nav>#}
{% endblock %}
