{% extends "base.html" %}
{% load blog_tags %}
{% load staticfiles %}

{% block meta %}
<title>我的教程-向东的笔记本</title>
{% endblock %}

{% block article %}
<div class="post-block" style="opacity: 40; display: block;">
    <h1 align="center">我的教程(共2套)</h1>
    {% for course in courses %}
        <div id="cardslist1" class="course" role="main">
            <div class="card col span_1_of_4" role="main">
                <div class="card-item">
                    <div class="thumb-img focus">
                        <div class="metacat">
                            <a class="metacat" href="">{{ course.category }}</a>
                        </div>
                        <a href="" title=""><img class="thumb" style="width: 253px; height: 169px; display: inline;"  src="{% url 'blog:index' %}media/{{ course.cover }}" /></a>
                    </div>
                    <h3><a href="" alt="{{ course.title }}" title="{{ course.title }}" target="_blank">{{ course.title }}</a> </h3>
                    <p>前段时间发现一个小程序，可以使用微信扫码登陆，然后对其进行了一个定向开发</p>
                    <div class="cardpricebtn">
                        <i class="fa fa-calendar"></i> {{ course.created_time| date:'Y-m-d' }}
                        <a class="cardbuy" href="{{ course.get_absolute_url }}"><i class="fa fa-eye"></i> 立刻查看</a>
                    </div>
        </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}

{% block tag_sidebar %}
    <div class="siderbar" >
        <div class="widget git_tag">
            <div class="title"><h3>热门标签</h3></div>
            <div class="git_tags">
                {% get_books_tags as tags %}
                {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url  }}" data-original-title="1304个话题">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}